<?xml version="1.0" ?>
<robot name="obstacle.urdf">
  <link name="baseLink">
    <contact>
    	<friction_anchor/>
    	   <lateral_friction value="1"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value="100."/>
       <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size=".1 0.5 .1"/>
      </geometry>
       <material name="maroon">
        <color rgba="0.7 0.588 0.588 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size=".1 .5 .1"/>
      </geometry>
    </collision>
  </link>
</robot>